In [29]:
import pandas as pd
import datetime

In [30]:
mega_data = pd.read_csv("final_mega_df.csv")
mega_data

,ID,loan_amnt,funded_amnt,int_rate,installment,grade,emp_title,emp_length,home_ownership,annual_inc,...,hardship_reason,hardship_status,hardship_amount,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status
0,0,6000.0,6000.0,7.24%,185.93,A,Program Manager,3 years,RENT,125000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1,1,17000.0,17000.0,7.49%,528.73,A,Air Traffic Controller,10+ years,MORTGAGE,120000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
2,2,14000.0,14000.0,12.74%,316.69,C,Relocation Specialist,9 years,RENT,49960.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
3,3,9900.0,9900.0,5.32%,298.14,A,Radtech,10+ years,MORTGAGE,53000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
4,4,15400.0,15400.0,11.39%,337.84,B,Social worker,10+ years,MORTGAGE,95000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
5,5,16000.0,16000.0,12.74%,361.93,C,claims analyst,10+ years,MORTGAGE,130000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
6,6,11875.0,11875.0,11.44%,391.26,B,Shop foreman,10+ years,MORTGAGE,55000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
7,7,3025.0,3025.0,6.99%,93.39,A,Recruiter,10+ years,MORTGAGE,83000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
8,8,9000.0,9000.0,11.39%,296.32,B,SUPERINTENDANT,10+ years,MORTGAGE,60000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
9,9,12000.0,12000.0,6.99%,370.48,A,signmaker/waterjet,10+ years,MORTGAGE,56000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
10,10,5000.0,5000.0,25.49%,200.10,E,Pilot,10+ years,MORTGAGE,215000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
11,11,10000.0,10000.0,7.49%,311.02,A,Line worker,3 years,RENT,50000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
12,12,4800.0,4800.0,6.99%,148.19,A,Program Manager,1 year,RENT,160000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
13,13,16000.0,16000.0,18.99%,586.42,D,sales merchandiser,10+ years,RENT,41000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
14,14,2000.0,2000.0,16.99%,71.30,D,Supervisor,6 years,MORTGAGE,62000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
15,15,20000.0,20000.0,5.32%,602.30,A,Associate Dentist,3 years,RENT,120000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
16,16,16000.0,16000.0,12.74%,361.93,C,NaN,10+ years,MORTGAGE,72000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
17,17,13000.0,13000.0,11.44%,428.32,B,Accounts Payable Coordinator,10+ years,RENT,54500.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
18,18,10000.0,10000.0,11.49%,329.72,B,General manager,10+ years,OWN,145000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
19,19,14000.0,14000.0,15.99%,492.13,C,Project Leader,10+ years,MORTGAGE,82000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
20,20,35000.0,35000.0,19.99%,1300.55,D,PROFESSOR,10+ years,MORTGAGE,80000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
21,21,14000.0,14000.0,12.74%,316.69,C,Specialty Sales,4 years,OWN,40000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
22,22,7100.0,7100.0,11.39%,233.76,B,NaN,NaN,RENT,32160.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
23,23,6800.0,6800.0,13.49%,230.73,C,Mechanic,< 1 year,RENT,55000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
24,24,14400.0,14400.0,10.49%,467.97,B,Property Manager,6 years,MORTGAGE,130000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
25,25,25000.0,25000.0,15.99%,878.81,C,Ckerk,10+ years,RENT,95000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
26,26,6000.0,6000.0,11.44%,197.69,B,Maintenance Assistant,5 years,RENT,25000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
27,27,15000.0,15000.0,5.32%,451.73,A,Executive Account Manager,10+ years,MORTGAGE,182000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
28,28,26000.0,26000.0,15.99%,632.14,C,fulfillment coordinator,10+ years,RENT,52000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
29,29,6000.0,6000.0,8.24%,188.69,B,Lead designer,1 year,MORTGAGE,110000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456898,105421,7500.0,7500.0,18.99%,274.89,D,Warehouse Receiver,< 1 year,RENT,29500.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456899,105422,12000.0,12000.0,16.99%,298.17,D,High School Teacher,< 1 year,RENT,49080.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456900,105423,13000.0,13000.0,25.49%,385.32,E,laborer,3 years,OWN,50000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456901,105424,25000.0,25000.0,16.99%,621.18,D,Analyst,10+ years,MORTGAGE,141000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456902,105425,6000.0,6000.0,17.99%,216.89,D,Driver,9 years,MORTGAGE,49000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456903,105426,26000.0,26000.0,12.74%,588.13,C,System Engineer,< 1 year,MORTGAGE,100000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456904,105427,13600.0,13600.0,18.99%,352.72,D,Pharmacy Technician,1 year,RENT,40000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Mar-19,ACTIVE
1456905,105428,24500.0,24500.0,22.74%,687.02,E,Engineer Tech 7,10+ years,MORTGAGE,59716.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456906,105429,25275.0,25275.0,28.69%,797.52,F,Technician,5 years,MORTGAGE,98000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456907,105430,15000.0,15000.0,16.99%,372.71,D,Solution Architect,3 years,RENT,82360.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456908,105431,14000.0,14000.0,17.99%,506.07,D,Manager,4 years,RENT,35000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456909,105432,28000.0,28000.0,16.99%,695.73,D,Granite Installer,2 years,RENT,70000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456910,105433,19200.0,19200.0,12.74%,434.31,C,Finance Director,10+ years,OWN,70000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456911,105434,3675.0,3675.0,7.99%,115.15,A,GROUP LEADER,2 years,RENT,45000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456912,105435,30000.0,30000.0,12.74%,678.61,C,Sr. Loan Processor,8 years,MORTGAGE,67000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456913,105436,30000.0,30000.0,22.74%,841.24,E,Director of Marketing,1 year,OWN,75000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456914,105437,18000.0,18000.0,22.74%,504.75,E,Administrative,1 year,RENT,65000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456915,105438,31075.0,31075.0,22.74%,871.39,E,EMR Applications Tech,< 1 year,RENT,65400.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456916,105439,1000.0,1000.0,14.99%,34.67,C,Inspector,< 1 year,RENT,27000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456917,105440,30000.0,30000.0,12.74%,678.61,C,Instructor,2 years,MORTGAGE,108000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456918,105441,29400.0,29400.0,13.99%,683.94,C,Sales Manager,4 years,MORTGAGE,32000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456919,105442,35000.0,35000.0,25.49%,1037.38,E,Branch Manager,5 years,OWN,180000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456920,105443,12000.0,12000.0,28.69%,378.65,F,foreman,10+ years,MORTGAGE,64500.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456921,105444,35000.0,35000.0,13.99%,814.21,C,Industrial Engineer,< 1 year,MORTGAGE,100000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456922,105445,19200.0,19200.0,22.74%,538.40,E,NaN,NaN,RENT,53000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Sep-19,ACTIVE
1456923,105446,24000.0,24000.0,23.99%,690.30,E,Senior Escrow Officer,< 1 year,RENT,107000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456924,105447,10000.0,10000.0,7.99%,313.32,A,Rn,10+ years,MORTGAGE,65000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456925,105448,10050.0,10050.0,16.99%,358.26,D,Sales Associate,8 years,RENT,37000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456926,105449,6000.0,6000.0,11.44%,197.69,B,Contact input,5 years,RENT,41000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1456927,105450,30000.0,30000.0,25.49%,889.18,E,Assistant Manager,4 years,MORTGAGE,105700.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN

In [31]:
temp = mega_data['earliest_cr_line']
temp

0          Jul-04
1          Oct-05
2          May-90
3          Apr-06
4          Dec-98
5          Jul-95
6          Apr-97
7          Oct-94
8          Apr-00
9          Aug-95
10         Jan-04
11         Aug-09
12         Jun-05
13         Sep-04
14         Oct-07
15         Aug-02
16         Dec-98
17         Sep-02
18         Sep-05
19         May-96
20         May-94
21         Feb-74
22         Apr-73
23         Dec-06
24         Dec-97
25         Mar-01
26         Jan-05
27         Nov-74
28         Oct-97
29         Sep-99
            ...
1456898    Oct-11
1456899    Sep-10
1456900    Dec-04
1456901    Dec-03
1456902    May-99
1456903    Jun-95
1456904    Sep-04
1456905    Aug-94
1456906    Oct-94
1456907    Feb-93
1456908    Jul-00
1456909    Mar-04
1456910    May-04
1456911    Feb-08
1456912    Nov-00
1456913    May-03
1456914    Jul-07
1456915    Apr-02
1456916    Nov-03
1456917    Apr-02
1456918    Apr-96
1456919    Oct-03
1456920    Nov-05
1456921    May-96
1456922    Oct-05
1456923    Apr-95
1456924    Sep-93
1456925    May-93
1456926    May-90
1456927    Nov-97
Name: earliest_cr_line, Length: 1456928, dtype: object

In [32]:
#earliest_cr_line is a string, want to change to datetime format
#first, a dictionary comparing the string of month names to their numerical value

months = {
        'Jan' : 1,
        'Feb' : 2,
        'Mar' : 3,
        'Apr' : 4,
        'May' : 5,
        'Jun' : 6,
        'Jul' : 7,
        'Aug' : 8,
        'Sep' : 9, 
        'Oct' : 10,
        'Nov' : 11,
        'Dec' : 12
}

#save in separate field, and split to two columns
temp = mega_data['earliest_cr_line']
temp.str.split('-')
new = mega_data['earliest_cr_line'].str.split("-", n = 1, expand = True) 

#change to numerical value and save as Integers
new[0]= new[0].map(months) 
new[1]= new[1].astype(int)

In [33]:
#change Year value to full numerical year by adding 2000
new[1] = 2000 + new[1]
dates = new
dates

          0     1
0         7  2004
1        10  2005
2         5  2090
3         4  2006
4        12  2098
5         7  2095
6         4  2097
7        10  2094
8         4  2000
9         8  2095
10        1  2004
11        8  2009
12        6  2005
13        9  2004
14       10  2007
15        8  2002
16       12  2098
17        9  2002
18        9  2005
19        5  2096
20        5  2094
21        2  2074
22        4  2073
23       12  2006
24       12  2097
25        3  2001
26        1  2005
27       11  2074
28       10  2097
29        9  2099
...      ..   ...
1456898  10  2011
1456899   9  2010
1456900  12  2004
1456901  12  2003
1456902   5  2099
1456903   6  2095
1456904   9  2004
1456905   8  2094
1456906  10  2094
1456907   2  2093
1456908   7  2000
1456909   3  2004
1456910   5  2004
1456911   2  2008
1456912  11  2000
1456913   5  2003
1456914   7  2007
1456915   4  2002
1456916  11  2003
1456917   4  2002
1456918   4  2096
1456919  10  2003
1456920  11  2005
1456921   5  2096
1456922  10  2005
1456923   4  2095
1456924   9  2093
1456925   5  2093
1456926   5  2090
1456927  11  2097

[1456928 rows x 2 columns]

In [34]:
for i, row in dates.iterrows():
    if dates[1][i] > 2019:
        dates[1][i] = dates[1][i] - 100

In [35]:
dates

          0     1
0         7  2004
1        10  2005
2         5  1990
3         4  2006
4        12  1998
5         7  1995
6         4  1997
7        10  1994
8         4  2000
9         8  1995
10        1  2004
11        8  2009
12        6  2005
13        9  2004
14       10  2007
15        8  2002
16       12  1998
17        9  2002
18        9  2005
19        5  1996
20        5  1994
21        2  1974
22        4  1973
23       12  2006
24       12  1997
25        3  2001
26        1  2005
27       11  1974
28       10  1997
29        9  1999
...      ..   ...
1456898  10  2011
1456899   9  2010
1456900  12  2004
1456901  12  2003
1456902   5  1999
1456903   6  1995
1456904   9  2004
1456905   8  1994
1456906  10  1994
1456907   2  1993
1456908   7  2000
1456909   3  2004
1456910   5  2004
1456911   2  2008
1456912  11  2000
1456913   5  2003
1456914   7  2007
1456915   4  2002
1456916  11  2003
1456917   4  2002
1456918   4  1996
1456919  10  2003
1456920  11  2005
1456921   5  1996
1456922  10  2005
1456923   4  1995
1456924   9  1993
1456925   5  1993
1456926   5  1990
1456927  11  1997

[1456928 rows x 2 columns]

In [36]:
#rename columns
dates.rename(columns = {0: 'Month', 1: 'Year'}, inplace = True)

#convert to datetime format
dates['Full Date'] = pd.to_datetime(dates.assign(Day=1).loc[:, ['Year','Month','Day']])

#add column that just shows Year/Month values, as Day value doesn't matter
dates['earliest_cr_line']= pd.to_datetime(dates['Full Date']).dt.to_period('M')
dates

         Month  Year  Full Date earliest_cr_line
0            7  2004 2004-07-01          2004-07
1           10  2005 2005-10-01          2005-10
2            5  1990 1990-05-01          1990-05
3            4  2006 2006-04-01          2006-04
4           12  1998 1998-12-01          1998-12
5            7  1995 1995-07-01          1995-07
6            4  1997 1997-04-01          1997-04
7           10  1994 1994-10-01          1994-10
8            4  2000 2000-04-01          2000-04
9            8  1995 1995-08-01          1995-08
10           1  2004 2004-01-01          2004-01
11           8  2009 2009-08-01          2009-08
12           6  2005 2005-06-01          2005-06
13           9  2004 2004-09-01          2004-09
14          10  2007 2007-10-01          2007-10
15           8  2002 2002-08-01          2002-08
16          12  1998 1998-12-01          1998-12
17           9  2002 2002-09-01          2002-09
18           9  2005 2005-09-01          2005-09
19           5  1996 1996-05-01          1996-05
20           5  1994 1994-05-01          1994-05
21           2  1974 1974-02-01          1974-02
22           4  1973 1973-04-01          1973-04
23          12  2006 2006-12-01          2006-12
24          12  1997 1997-12-01          1997-12
25           3  2001 2001-03-01          2001-03
26           1  2005 2005-01-01          2005-01
27          11  1974 1974-11-01          1974-11
28          10  1997 1997-10-01          1997-10
29           9  1999 1999-09-01          1999-09
...        ...   ...        ...              ...
1456898     10  2011 2011-10-01          2011-10
1456899      9  2010 2010-09-01          2010-09
1456900     12  2004 2004-12-01          2004-12
1456901     12  2003 2003-12-01          2003-12
1456902      5  1999 1999-05-01          1999-05
1456903      6  1995 1995-06-01          1995-06
1456904      9  2004 2004-09-01          2004-09
1456905      8  1994 1994-08-01          1994-08
1456906     10  1994 1994-10-01          1994-10
1456907      2  1993 1993-02-01          1993-02
1456908      7  2000 2000-07-01          2000-07
1456909      3  2004 2004-03-01          2004-03
1456910      5  2004 2004-05-01          2004-05
1456911      2  2008 2008-02-01          2008-02
1456912     11  2000 2000-11-01          2000-11
1456913      5  2003 2003-05-01          2003-05
1456914      7  2007 2007-07-01          2007-07
1456915      4  2002 2002-04-01          2002-04
1456916     11  2003 2003-11-01          2003-11
1456917      4  2002 2002-04-01          2002-04
1456918      4  1996 1996-04-01          1996-04
1456919     10  2003 2003-10-01          2003-10
1456920     11  2005 2005-11-01          2005-11
1456921      5  1996 1996-05-01          1996-05
1456922     10  2005 2005-10-01          2005-10
1456923      4  1995 1995-04-01          1995-04
1456924      9  1993 1993-09-01          1993-09
1456925      5  1993 1993-05-01          1993-05
1456926      5  1990 1990-05-01          1990-05
1456927     11  1997 1997-11-01          1997-11

[1456928 rows x 4 columns]

In [37]:
#merge issue_dates into mega_data 

mega_data['credit_start_date']= dates['earliest_cr_line']

mega_data.head()

,ID,loan_amnt,funded_amnt,int_rate,installment,grade,emp_title,emp_length,home_ownership,annual_inc,...,hardship_status,hardship_amount,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,credit_start_date
0,0,6000.0,6000.0,7.24%,185.93,A,Program Manager,3 years,RENT,125000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2004-07
1,1,17000.0,17000.0,7.49%,528.73,A,Air Traffic Controller,10+ years,MORTGAGE,120000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2005-10
2,2,14000.0,14000.0,12.74%,316.69,C,Relocation Specialist,9 years,RENT,49960.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,1990-05
3,3,9900.0,9900.0,5.32%,298.14,A,Radtech,10+ years,MORTGAGE,53000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2006-04
4,4,15400.0,15400.0,11.39%,337.84,B,Social worker,10+ years,MORTGAGE,95000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,1998-12

In [38]:
credit_data = mega_data[['ID', 'loan_amnt', 'funded_amnt','int_rate','installment',
                       'annual_inc','fico_range_low','fico_range_high','dti',
                       'credit_start_date']]
credit_data

,ID,loan_amnt,funded_amnt,int_rate,installment,annual_inc,fico_range_low,fico_range_high,dti,credit_start_date
0,0,6000.0,6000.0,7.24%,185.93,125000.00,690.0,694.0,9.25,2004-07
1,1,17000.0,17000.0,7.49%,528.73,120000.00,735.0,739.0,8.41,2005-10
2,2,14000.0,14000.0,12.74%,316.69,49960.00,715.0,719.0,9.30,1990-05
3,3,9900.0,9900.0,5.32%,298.14,53000.00,730.0,734.0,19.47,2006-04
4,4,15400.0,15400.0,11.39%,337.84,95000.00,730.0,734.0,11.52,1998-12
5,5,16000.0,16000.0,12.74%,361.93,130000.00,680.0,684.0,8.28,1995-07
6,6,11875.0,11875.0,11.44%,391.26,55000.00,730.0,734.0,34.50,1997-04
7,7,3025.0,3025.0,6.99%,93.39,83000.00,695.0,699.0,20.76,1994-10
8,8,9000.0,9000.0,11.39%,296.32,60000.00,780.0,784.0,19.58,2000-04
9,9,12000.0,12000.0,6.99%,370.48,56000.00,775.0,779.0,17.90,1995-08
10,10,5000.0,5000.0,25.49%,200.10,215000.00,765.0,769.0,6.06,2004-01
11,11,10000.0,10000.0,7.49%,311.02,50000.00,755.0,759.0,26.43,2009-08
12,12,4800.0,4800.0,6.99%,148.19,160000.00,745.0,749.0,12.66,2005-06
13,13,16000.0,16000.0,18.99%,586.42,41000.00,660.0,664.0,31.73,2004-09
14,14,2000.0,2000.0,16.99%,71.30,62000.00,680.0,684.0,16.43,2007-10
15,15,20000.0,20000.0,5.32%,602.30,120000.00,770.0,774.0,26.54,2002-08
16,16,16000.0,16000.0,12.74%,361.93,72000.00,685.0,689.0,29.66,1998-12
17,17,13000.0,13000.0,11.44%,428.32,54500.00,740.0,744.0,10.81,2002-09
18,18,10000.0,10000.0,11.49%,329.72,145000.00,705.0,709.0,13.31,2005-09
19,19,14000.0,14000.0,15.99%,492.13,82000.00,725.0,729.0,31.07,1996-05
20,20,35000.0,35000.0,19.99%,1300.55,80000.00,665.0,669.0,10.65,1994-05
21,21,14000.0,14000.0,12.74%,316.69,40000.00,715.0,719.0,17.48,1974-02
22,22,7100.0,7100.0,11.39%,233.76,32160.00,710.0,714.0,22.44,1973-04
23,23,6800.0,6800.0,13.49%,230.73,55000.00,730.0,734.0,20.73,2006-12
24,24,14400.0,14400.0,10.49%,467.97,130000.00,745.0,749.0,30.77,1997-12
25,25,25000.0,25000.0,15.99%,878.81,95000.00,665.0,669.0,22.47,2001-03
26,26,6000.0,6000.0,11.44%,197.69,25000.00,765.0,769.0,24.20,2005-01
27,27,15000.0,15000.0,5.32%,451.73,182000.00,740.0,744.0,9.35,1974-11
28,28,26000.0,26000.0,15.99%,632.14,52000.00,700.0,704.0,20.49,1997-10
29,29,6000.0,6000.0,8.24%,188.69,110000.00,660.0,664.0,7.15,1999-09
...,...,...,...,...,...,...,...,...,...,...
1456898,105421,7500.0,7500.0,18.99%,274.89,29500.00,685.0,689.0,22.38,2011-10
1456899,105422,12000.0,12000.0,16.99%,298.17,49080.01,755.0,759.0,11.25,2010-09
1456900,105423,13000.0,13000.0,25.49%,385.32,50000.00,665.0,669.0,28.01,2004-12
1456901,105424,25000.0,25000.0,16.99%,621.18,141000.00,675.0,679.0,21.23,2003-12
1456902,105425,6000.0,6000.0,17.99%,216.89,49000.00,665.0,669.0,25.32,1999-05
1456903,105426,26000.0,26000.0,12.74%,588.13,100000.00,670.0,674.0,25.48,1995-06
1456904,105427,13600.0,13600.0,18.99%,352.72,40000.00,700.0,704.0,27.12,2004-09
1456905,105428,24500.0,24500.0,22.74%,687.02,59716.00,675.0,679.0,30.65,1994-08
1456906,105429,25275.0,25275.0,28.69%,797.52,98000.00,665.0,669.0,26.50,1994-10
1456907,105430,15000.0,15000.0,16.99%,372.71,82360.00,660.0,664.0,30.68,1993-02
1456908,105431,14000.0,14000.0,17.99%,506.07,35000.00,735.0,739.0,30.28,2000-07
1456909,105432,28000.0,28000.0,16.99%,695.73,70000.00,690.0,694.0,10.01,2004-03
1456910,105433,19200.0,19200.0,12.74%,434.31,70000.00,670.0,674.0,25.10,2004-05
1456911,105434,3675.0,3675.0,7.99%,115.15,45000.00,680.0,684.0,17.04,2008-02
1456912,105435,30000.0,30000.0,12.74%,678.61,67000.00,715.0,719.0,25.44,2000-11
1456913,105436,30000.0,30000.0,22.74%,841.24,75000.00,680.0,684.0,29.65,2003-05
1456914,105437,18000.0,18000.0,22.74%,504.75,65000.00,695.0,699.0,23.41,2007-07
1456915,105438,31075.0,31075.0,22.74%,871.39,65400.00,665.0,669.0,24.26,2002-04
1456916,105439,1000.0,1000.0,14.99%,34.67,27000.00,685.0,689.0,9.56,2003-11
1456917,105440,30000.0,30000.0,12.74%,678.61,108000.00,705.0,709.0,32.32,2002-04
1456918,105441,29400.0,29400.0,13.99%,683.94,32000.00,705.0,709.0,70.92,1996-04
1456919,105442,35000.0,35000.0,25.49%,1037.38,180000.00,675.0,679.0,10.41,2003-10
1456920,105443,12000.0,12000.0,28.69%,378.65,64500.00,660.0,664.0,9.66,2005-11
1456921,105444,35000.0,35000.0,13.99%,814.21,100000.00,685.0,689.0,8.32,1996-05
1456922,105445,19200.0,19200.0,22.74%,538.40,53000.00,660.0,664.0,24.65,2005-10
1456923,105446,24000.0,24000.0,23.99%,690.30,107000.00,670.0,674.0,11.65,1995-04
1456924,105447,10000.0,10000.0,7.99%,313.32,65000.00,725.0,729.0,19.55,1993-09
1456925,105448,10050.0,10050.0,16.99%,358.26,37000.00,705.0,709.0,20.56,1993-05
1456926,105449,6000.0,6000.0,11.44%,197.69,41000.00,670.0,674.0,19.99,1990-05
1456927,105450,30000.0,30000.0,25.49%,889.18,105700.00,695.0,699.0,27.26,1997-11

In [23]:
credit_data.to_csv('credit_data_MR.csv',index=False)

In [39]:
test_data = mega_data[['earliest_cr_line','credit_start_date']]
test_data

        earliest_cr_line credit_start_date
0                 Jul-04           2004-07
1                 Oct-05           2005-10
2                 May-90           1990-05
3                 Apr-06           2006-04
4                 Dec-98           1998-12
5                 Jul-95           1995-07
6                 Apr-97           1997-04
7                 Oct-94           1994-10
8                 Apr-00           2000-04
9                 Aug-95           1995-08
10                Jan-04           2004-01
11                Aug-09           2009-08
12                Jun-05           2005-06
13                Sep-04           2004-09
14                Oct-07           2007-10
15                Aug-02           2002-08
16                Dec-98           1998-12
17                Sep-02           2002-09
18                Sep-05           2005-09
19                May-96           1996-05
20                May-94           1994-05
21                Feb-74           1974-02
22                Apr-73           1973-04
23                Dec-06           2006-12
24                Dec-97           1997-12
25                Mar-01           2001-03
26                Jan-05           2005-01
27                Nov-74           1974-11
28                Oct-97           1997-10
29                Sep-99           1999-09
...                  ...               ...
1456898           Oct-11           2011-10
1456899           Sep-10           2010-09
1456900           Dec-04           2004-12
1456901           Dec-03           2003-12
1456902           May-99           1999-05
1456903           Jun-95           1995-06
1456904           Sep-04           2004-09
1456905           Aug-94           1994-08
1456906           Oct-94           1994-10
1456907           Feb-93           1993-02
1456908           Jul-00           2000-07
1456909           Mar-04           2004-03
1456910           May-04           2004-05
1456911           Feb-08           2008-02
1456912           Nov-00           2000-11
1456913           May-03           2003-05
1456914           Jul-07           2007-07
1456915           Apr-02           2002-04
1456916           Nov-03           2003-11
1456917           Apr-02           2002-04
1456918           Apr-96           1996-04
1456919           Oct-03           2003-10
1456920           Nov-05           2005-11
1456921           May-96           1996-05
1456922           Oct-05           2005-10
1456923           Apr-95           1995-04
1456924           Sep-93           1993-09
1456925           May-93           1993-05
1456926           May-90           1990-05
1456927           Nov-97           1997-11

[1456928 rows x 2 columns]

In [40]:
test_data.to_csv('credit_date.csv',index=True)