In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("final_df_project_3_0502c.csv")
df.head()

,int_rate,annual_inc,dti,delinq_2yrs,fico_range_low,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,application_type,earliest_cr_line,tax_liens,pub_rec_bankruptcies,term,loan_amnt,credit_start_date
0,1,68000.0,15.74,0.0,750.0,0.0,0.0,0.0,11.0,0.0,14471.0,30.6,15.0,Individual,Mar-10,0.0,0.0,36,13500.0,3
1,3,110000.0,23.44,0.0,675.0,0.0,39.0,0.0,12.0,0.0,13362.0,50.8,29.0,Individual,Sep-03,0.0,0.0,36,20000.0,1
2,2,27840.0,15.99,0.0,685.0,1.0,0.0,0.0,14.0,0.0,5771.0,30.9,20.0,Individual,Nov-11,0.0,0.0,36,1600.0,3
3,2,28000.0,8.62,0.0,700.0,0.0,49.0,0.0,7.0,0.0,4132.0,18.2,17.0,Individual,Jan-10,0.0,0.0,36,6400.0,3
4,2,72500.0,29.58,0.0,680.0,0.0,47.0,0.0,9.0,0.0,27733.0,74.2,20.0,Individual,Jul-07,0.0,0.0,60,16000.0,2

# Stats Summary

In [3]:
# select features which will be used as X values
test_df = df[["int_rate","annual_inc", "dti", "fico_range_low", "term",
              "open_acc", "revol_bal", "loan_amnt","pub_rec_bankruptcies", "credit_start_date"]]
test_df.head()

,int_rate,annual_inc,dti,fico_range_low,term,open_acc,revol_bal,loan_amnt,pub_rec_bankruptcies,credit_start_date
0,1,68000.0,15.74,750.0,36,11.0,14471.0,13500.0,0.0,3
1,3,110000.0,23.44,675.0,36,12.0,13362.0,20000.0,0.0,1
2,2,27840.0,15.99,685.0,36,14.0,5771.0,1600.0,0.0,3
3,2,28000.0,8.62,700.0,36,7.0,4132.0,6400.0,0.0,3
4,2,72500.0,29.58,680.0,60,9.0,27733.0,16000.0,0.0,2

# Model 5 features - Annual income, fico score, and loan amount
checking to see if reducing the features increases the accuracy

In [4]:
feature_names = ["annual_inc", "fico_range_low", "loan_amnt"]
X = test_df[feature_names]
y = test_df["int_rate"]
X

         annual_inc  fico_range_low  loan_amnt
0          68000.00           750.0    13500.0
1         110000.00           675.0    20000.0
2          27840.00           685.0     1600.0
3          28000.00           700.0     6400.0
4          72500.00           680.0    16000.0
5          95000.00           695.0     4800.0
6          47000.00           695.0    20000.0
7          49000.00           700.0    12000.0
8         305000.00           770.0    25000.0
9         124812.00           695.0    24000.0
10         50000.00           680.0     4000.0
11         58240.00           660.0    15000.0
12        329991.00           685.0    24000.0
13         97000.00           680.0     6500.0
14         43000.00           730.0    18500.0
15         30000.00           665.0     3025.0
16         50000.00           730.0    12000.0
17         67500.00           710.0    16000.0
18        123000.00           695.0    24000.0
19         42000.00           665.0     6000.0
20         38400.00           685.0     5000.0
21         85000.00           685.0     6500.0
22        165000.00           665.0    25000.0
23         53000.00           680.0     2000.0
24         90000.00           670.0    10000.0
25         58000.00           685.0    38825.0
26        150000.00           705.0     8000.0
27        106000.00           765.0     3000.0
28        121330.00           665.0    25000.0
29         61000.00           680.0     7800.0
...             ...             ...        ...
1273594   180000.00           665.0    25350.0
1273595   110000.00           665.0    17025.0
1273596    65000.00           660.0    10000.0
1273597    43560.00           665.0    19150.0
1273598    29500.00           685.0     7500.0
1273599    49080.01           755.0    12000.0
1273600    50000.00           665.0    13000.0
1273601   141000.00           675.0    25000.0
1273602    49000.00           665.0     6000.0
1273603   100000.00           670.0    26000.0
1273604    40000.00           700.0    13600.0
1273605    59716.00           675.0    24500.0
1273606    98000.00           665.0    25275.0
1273607    82360.00           660.0    15000.0
1273608    35000.00           735.0    14000.0
1273609    70000.00           690.0    28000.0
1273610    70000.00           670.0    19200.0
1273611    45000.00           680.0     3675.0
1273612    65000.00           695.0    18000.0
1273613    65400.00           665.0    31075.0
1273614    27000.00           685.0     1000.0
1273615   180000.00           675.0    35000.0
1273616    64500.00           660.0    12000.0
1273617   100000.00           685.0    35000.0
1273618    53000.00           660.0    19200.0
1273619   107000.00           670.0    24000.0
1273620    65000.00           725.0    10000.0
1273621    37000.00           705.0    10050.0
1273622    41000.00           670.0     6000.0
1273623   105700.00           695.0    30000.0

[1273624 rows x 3 columns]

# Create training and test sets

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

# Apply scaling

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Build Models

In [9]:
## Logistic Regression
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train_scaled, y_train)

print('Accuracy of logistic regression on training', logreg.score(X_train_scaled, y_train))
print('Accuracy of logistic regression on testing', logreg.score(X_test_scaled, y_test))

/Users/mayareiss/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/mayareiss/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

Accuracy of logistic regression on training 0.41189131695592
Accuracy of logistic regression on testing 0.41292563582344555

In [10]:
## Decision Tree
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_train_scaled, y_train)

print('Accuracy of Decision tree on training', dt.score(X_train_scaled, y_train))
print('Accuracy of Decision tree on testing', dt.score(X_test_scaled, y_test))

Accuracy of Decision tree on training 0.6548243437623663
Accuracy of Decision tree on testing 0.38414477114124734

In [11]:
# Setting max decision tree depth to help avoid overfitting
dt2 = DecisionTreeClassifier(max_depth=5)
dt2.fit(X_train_scaled, y_train)
print('Accuracy of Decision tree on training', dt2.score(X_train_scaled, y_train))
print('Accuracy of Decision tree on testing', dt2.score(X_test_scaled, y_test))

Accuracy of Decision tree on training 0.4173623193867787
Accuracy of Decision tree on testing 0.4179286822484501

In [12]:
# Setting max decision tree depth to help avoid overfitting
dt3 = DecisionTreeClassifier(max_depth=10)
dt3.fit(X_train_scaled, y_train)
print('Accuracy of Decision tree on training', dt3.score(X_train_scaled, y_train))
print('Accuracy of Decision tree on testing', dt3.score(X_test_scaled, y_test))

Accuracy of Decision tree on training 0.4322029107491693
Accuracy of Decision tree on testing 0.42799758798515103

In [13]:
# K-nearest neighbor 
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train_scaled, y_train)
print('Accuracy of Knn on training', knn.score(X_train_scaled, y_train))
print('Accuracy of Knn on testing', knn.score(X_test_scaled, y_test))

Accuracy of Knn on training 0.49935721479285355
Accuracy of Knn on testing 0.3851560586169859

In [14]:
# Linear Discriminant Analysis 
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis()
lda.fit(X_train_scaled,y_train)
print('Accuracy of LDA on training', lda.score(X_train_scaled, y_train))
print('Accuracy of LDA on testing', lda.score(X_test_scaled, y_test))

Accuracy of LDA on training 0.413975657912644
Accuracy of LDA on testing 0.4149230856202458

In [15]:
# Gaussian Naive Bayes 
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train_scaled, y_train)
print('Accuracy of GNB on training', gnb.score(X_train_scaled, y_train))
print('Accuracy of GNB on testing', gnb.score(X_test_scaled, y_test))

Accuracy of GNB on training 0.3775755900747264
Accuracy of GNB on testing 0.3788779105921371

In [ ]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train_scaled, y_train)
rf.score(X_test_scaled, y_test)
print('Accuracy of Random Forest on training', rf.score(X_train_scaled, y_train))
print('Accuracy of Random Forest on testing', rf.score(X_test_scaled, y_test))

Accuracy of Random Forest on training 0.6548274844067009

In [22]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100)
rf = rf.fit(X_train_scaled, y_train)
rf.score(X_test_scaled, y_test)
print('Accuracy of Random Forest on training', rf.score(X_train_scaled, y_train))
print('Accuracy of Random Forest on testing', rf.score(X_test_scaled, y_test))

Accuracy of Random Forest on training 0.7014597714867182
Accuracy of Random Forest on testing 0.42436386249002844

In [ ]:
# Support Vector Machine
from sklearn.svm import SVC
svm = SVC()
svm.fit(X_train_scaled, y_train)
print('Accuracy of SVM on training', svm.score(X_train_scaled, y_train))
print('Accuracy of SVM on testing', svm.score(X_test_scaled, y_test))

/Users/mayareiss/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

The results were not as robust as the previous feature choice.